
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Jost:wght@500&family=Rampart+One&family=Amatic+SC:wght@700&family=Arimo&family=Barlow&family=Hind&family=Homemade+Apple&family=Montserrat:wght@600&family=Nunito+Sans:ital,wght@0,300;1,300&family=Nunito:wght@300&family=Overpass:wght@100;300;400&family=Roboto:wght@500&family=Walter+Turncoat&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body{
background-color:#ffffff;

}

.home, .reports, .products{
  display: flex; 
  height: 90vh; 
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}


.App {
 
  text-align: center;
}


header {
  background-color:#ffffff;
  width: 100vw;
  height: 10vh;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
  
}
main{
  margin-bottom: 150px;
}

.bottom-margin{
  margin-bottom:700px;
}
.title{
  font-size: 40px;
  color:black;
  font-family: 'Overpass';
  margin: 0px;
}

.product-page{
  display: flex;
  justify-content: center;

}
.product-container{
  font-family: 'Jost', sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  width: 1000px;
  
}
.show-container{
  display: flex;
  justify-content: center;

}
nav, nav>a, nav>a:link, nav>a:visited{
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  gap: 130px;
  /* color: white;*/
} 
.input{
  padding: 10px;
  margin: 10px;
  width: 500px;
  border-radius: 5px;
  border: none;
}
.button{
  /* margin-left: 160px; */
  border: 1px solid lightgrey;
  background-color: #ffffff;
  color: grey;
  height: 50px;
  width: 100px;
 }
 .category-button{
  background-color:#ffffff;
  color: grey;
  height: 50px;
  text-transform: uppercase;
 }
 .category-button:focus{
  background-color: white !important;
 }
 label{
  display: inline-block;
  width: 150px;
  text-align: right;
}
.product-img {
  width: 300px;
  height: 300px;
  border: 20px solid #ffffff;
  box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.show-image{
  width: 400px;
}
.show-detail{
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

a, a:visited, a:link{
  text-decoration: none;
  color: black
}

button{

  color: white;
  border: 0;
  margin: 10px;

}

.home-image{
  width: 100vw;

}

/* Landing Page */

.title-text{
  /* margin-top: 5rem; */
  font-size: 10em;
  overflow: hidden;
  margin-left: 115px;
  font-family: 'Overpass';
  color: black;
  position: absolute;
  top: 300px;
  right: 100px;

}

.letter{
  display: inline-block;
  line-height: 2em;
  opacity: 0;
}
.e{
  color: rgb(255, 55, 0);
}
.dot{
  font-size: 0.5em;
}

.page-footer{
  background-color: black;
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: -200px;
  clear:both;
  text-align: left;
}

/* text animation */
.animate {
  font-family: "Overpass";
  text-align: left;
  position: absolute;
  line-height: 30px;
  font-size: 20px;
  top: 500px;
  right: 300px;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 7s
}
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}