*{
  background-color: white;
}
.App {
  background-color: white;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  width: 100vw;
  height: 20vh;
  border: 1px solid lightgrey;
}
.product-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}



img {
  width: 300px;
}

a, a:visited, a:link{
  text-decoration: none;
  color: black
}

button{
  width: 100px;
  height: 50px;
  border: 1px solid lightgrey;
  margin: 10px;

}